  /* CSS for the loading spinner container */
  #loadingContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* White opaque background */
    z-index: 9999; /* Ensure it's above other elements */
}

/* CSS for the loading spinner */
#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}